<ion-header>
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <ion-card>
      <ion-card-header>
        <h1>Cadastro</h1>
      </ion-card-header>
    
      <ion-card-content>
        <form>
          <ion-list>
            <ion-item>
              <ion-input label="Nome:" labelPlacement="floating" placeholder="Enter text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Sobrenome:" labelPlacement="floating" placeholder="Enter text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="DataNasc:" labelPlacement="floating" placeholder="Enter text" type="date"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="País:" labelPlacement="floating" placeholder="Enter text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Cidade:" labelPlacement="floating" placeholder="Enter text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Endereço:" labelPlacement="floating" placeholder="Enter text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Cep:" labelPlacement="floating" placeholder="Enter text" type="number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Telefone:" labelPlacement="floating" placeholder="Enter text" type="number"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Cargo:" labelPlacement="floating" placeholder="Enter text"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input label="Salário:" labelPlacement="floating" placeholder="Enter text" type="number"></ion-input>
            </ion-item>
          </ion-list>
  
          <ion-button expand="full">
            <ion-icon slot="start" name="checkmark-outline"></ion-icon>
            Inserir
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>